@use "reset";
body {
  // margin-top: 70px;
  min-height: 100vh;
}
.container {
  padding: 0px 15px;
  max-width: 1665px;
  margin: 0 auto;
}
.ytp-chrome-top {
  display: none;
}
.ytp-chrome-bottom {
  display: none;
}
